.apple-pay-button {
    width:250px;
    height:40px;
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: pay; /* Use any supported button type. */
}
.apple-pay-button-black {
    -apple-pay-button-style: black;
}
.apple-pay-button-white {
    -apple-pay-button-style: white;
}
.apple-pay-button-white-with-line {
    -apple-pay-button-style: white-outline;
}
/*https://developer.apple.com/documentation/apple_pay_on_the_web/displaying_apple_pay_buttons_using_css#3667431*/